{% extends "base.html.twig" %}

{% block content %}
    <section class="page-section portfolio page-no-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for product in lot.products %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"  {% if loop.first %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for product in lot.products %}
                                <div class="carousel-item {% if loop.first %} active {% endif %}">
                                    <img src="{{ product.image }}" class="d-block w-100">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="h1 mb-3">{{ lot.name }}</p>
                    <p class="h2 mb-3">{{ 'lot_view.price'|trans }} {{ lot.price|number_format(0, ',', '.') }}€</p>
                    {% if lot.bids|length > 0 %}
                        <p class="h3 mb-3">{{ 'lot_view.last_bid'|trans }} {{ lot.getLastBid().offer|number_format(0, ',', '.') }}€</p>
                    {% else %}
                        <p class="h3 mb-3">{{ 'lots_list.start_price'|trans }} {{ lot.initialPrice|number_format(0, ',', '.') }}€</p>
                    {% endif %}
                    <p class="h5 mb-3">{{ 'lot_view.expired_at'|trans }} {{ lot.auction.expiredAt|date('d/m/Y H:i:s') }}</p>
                    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#bidsModal">{{ 'lot_view.make_bid'|trans }}</button>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-12 col-md-6">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        {{ 'lot_view.description'|trans }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    {{ lot.description }}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        {{ 'lot_view.included_products'|trans }}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        {% for product in lot.products %}
                                        <li class="list-group-item">{{ product.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'modules/modals/new-bid.modal.html.twig' %}

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#bid_save').on('click', function(event) {
                event.preventDefault();
                var form = $("form[name=bid]").serialize();
                $.ajax({
                    url: "{{ url('save_bid')}}",
                    type: "POST",
                    data: form,
                    success: function(data) {
                        $('#bids-error').html('');
                        switch (data.result) {
                            case 0:
                                $.each( data.data, function( key, value ) {
                                    $('#bids-error').append("<div class='alert alert-warning' role='alert'>" + value + "</div>");
                                });
                                break;
                            case 401:
                                $('#bids-error').append("<div class='alert alert-warning' role='alert'>{{ 'modal.bids.unauthorized'|trans }}</div>");
                                break;
                            default:
                                $('#bid-form').html('<h4 class="alert-heading">{{ 'modal.bids.bid_done'|trans }}</h4>');
                                break;

                        }
                        if(data.result === 0) {


                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    {
                        // alert('Error: ' +  errorThrown);
                    }
                }, "json");
            });
        });
    </script>
{#    bid_save#}
{% endblock %}