{% extends "base.html.twig" %}

{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">{{ 'my_bids_view.title'|trans }}</h1>
        </div>
    </header>

    <section class="page-section portfolio">
        <div class="container">
            <div class="row">
                {% for bid in bids %}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <a href="{{ url('lot_view', {'id': bid.lot.id}) }}">
                            <div class="portfolio-item mx-auto">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <h3 class="list-auction-title bg-secondary text-center text-uppercase text-white">{{ bid.lot.name }}</h3>
                                <img class="img-fluid" src=" https://via.placeholder.com/600x600.png?text=Lote+Placeholder" alt="" />
                                <div class="list-auction-title bg-secondary text-center text-white text-uppercase lots-prices">
                                    <p>{{ 'my_bids_view.my_bid'|trans }} {{ bid.offer|number_format(0, ',', '.') }}€</p>
                                    <p>{{ 'lots_list.price'|trans }} {{ bid.lot.price|number_format(0, ',', '.') }}€</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}